.fas{
    color: green;
}

.app-name{
    font-family: 'Spectral', serif;
}

.but1, .but2, .title-modal1, .go1, .title-modal2, .go2{
    font-family: 'Spectral', serif;
}

.flor{
    text-align: center;
    color: green;
    font-family: 'Spectral', serif;
}