.fas{
    color: rgb(13, 128, 13);
}

.app-name{
    font-family: 'Nunito', sans-serif;
}

.but1, .but2, .title-modal1, .go1, .title-modal2, .go2{
    font-family: 'Nunito', sans-serif;
}

.flor{
    text-align: center;
    color: green;
    font-family: 'Nunito', sans-serif;
}